<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container "align="center">
  <div class="row">
    <div class="col shadow p-3 mb-5 bg-white rounded">
      <h1><%= goal.name%></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7 shadow p-3 mb-5 bg-white rounded">
      <table class="table table-hover" >
        <tr>
          <td><h3>Saldo disponible en cuenta:</h3></td>
          <td><h3 class="text-muted">$ <%= user.account.accountBalance %></h3></td>
        </tr>
        <tr>
          <td><h3>Dinero para la meta:</h3></td>
          <td><h3 class="text-muted">$ <%= goal.goalBalance%></h3></td>
        </tr>
        <tr>
          <td><h3>Dinero almacenado:</h3></td>
          <td><h3 class="text-muted">$ <%= goal.currentBalance%></h3></td>
        </tr>
        <tr>
          <td><h3>Fecha maxima: </h3></td>
          <td><h3 class="text-muted"> <%= goal.goalDate.toISOString().slice(0,10) %></h3></td>
        </tr>
      </table>
    </div>
    <div class="col-5 shadow p-3 mb-5 bg-white rounded" align="center">
      <form class="form form-inline " action="/addCurrencyGoal" method="POST">
        <div class="col-4"></div>
        <div class="form-control-inline">
          <input type="number" class="form-control" name="money" placeholder="Saldo" min="1"
          max='<%= (user.account.accountBalance <= goal.goalBalance)? user.account.accountBalance : goal.goalBalance %>' required>
          <input type="text" hidden name="idGoal" value="<%= goal._id%>">
          <input type="text" hidden name="userId" value="<%= user._id %>">
        </div>
        <button type="submit" class="btn btn-outline-success">Añadir</button>
      </form>
      <br>
      <form class="form" action="/goal-accomplished/<%= user.id%>/<%= goal._id%>" method="POST" >
        <div class="form-control-inline">
          <input type="text" hidden name="userId" value="<%= user._id %>">
          <input type="text" hidden name="goalId" value="<%= goal._id%>">
        </div>
        <button type="submit" class="btn btn-outline-danger">Cerrar Meta</button>
      </form>
    </div>
  </div>
</div>
<% include partials/_footer %>
