<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container">
	<div class="row" align="center">
		<div class="col-8 shadow p-3 mb-5 bg-white rounded">
			<table class="table table-hover" >
        <tr>
          <td><h3>Saldo disponible en cuenta:</h3></td>
          <td><h3 class="text-muted">$ <%= user.account.accountBalance %></h3></td>
        </tr>
        <tr>
          <td><h3>Saldo en el colchón:  </h3></td>
          <td><h3 class="text-muted">$ <%= user.account.mattress.mattressBalance %></h3></td>
        </tr>
      </table>
		</div>

		<div class="col-4 shadow p-3 mb-5 bg-white rounded" align="center">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-10">
					<div class="row">
						<h4>Mover saldo a colchón</h4>
					</div>
					<form class="form-inline" action="/addMoneyToMattress" method="POST">
						<div class="input-group">
							<input type="number" class="form-control" min="<%= user.account.accountBalance<=0?1:1 %>" max="<%= user.account.accountBalance %>" name="money" required>
						</div>
						<input type="text" value="<%= user._id %>" name="userId" hidden>
						<div class="input-group">
							<button type="submit" class="btn btn-outline-success">Mover</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
			  <div class="col-2"></div>
				<div class="col-10">
					<div class="row">
						<h4>Mover saldo a cuenta</h4>
					</div>
					<form class="form-inline" action="/returnMoneyToAccount" method="POST">
						<div class="input-group">
							<input type="number" class="form-control" min="<%= user.account.accountBalance<=0?1:1 %>" max="<%= user.account.mattress.mattressBalance %>" name="money" required>
						</div>
						<input type="text" value="<%= user._id %>" name="userId" hidden>
						<div class="input-group">
							<button type="submit" class="btn btn-outline-success">Mover</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/_footer %>
