<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container">
	<div class="row" align="center">
		<div class="col-6 shadow p-3 mb-5 bg-white rounded">
			<h2>Saldo disponible en cuenta: <small class="text-muted"><%= user.account.accountBalance %></small></h2>
			<h2>Saldo en el colchon: <small class="text-muted"><%= user.account.mattress.mattressBalance %></small></h2>
		</div>

		<div class="col-6 shadow p-3 mb-5 bg-white rounded">
			<h2>Mover saldo a colchon </h2>
			<form class="form-control-horzontal" action="/addMoneyToMattress" method="POST">
				<div class="form-inline">
					<input type="number" class="form-control col-4" min="1" max="<%= user.account.accountBalance %>" name="money" placeholder="A Colchon" required>
					<button type="submit" class="btn btn-outline-success">Mover</button>
				</div>
				<input type="text" value="<%= user._id %>" name="idUser" hidden>
			</form><br>
			<h2>Mover saldo a cuenta</h2>
			<form class="form-control-horzontal" action="/returnMoneyToAccount" method="POST">
				<div class="form-inline">
					<input type="number" class="form-control col-4" min="1" max="<%= user.account.mattress.mattressBalance %>" name="money" placeholder="A Cuenta" required>
					<button type="submit" class="btn btn-outline-success">Mover</button>
				</div>
				<input type="text" value="<%= user._id %>" name="idUser" hidden>
			</form>
		</div>
	</div>
</div>
