<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container "align="center">
  <div class="row">
    <div class="col shadow p-3 mb-5 bg-white rounded">
      <h1>Bienvenido <%= user.local.name%> <%=user.local.lastName%> </h1>
    </div>
  </div>
  <div class="row" >
    <div class="col-6 shadow p-3 mb-5 bg-white rounded">
      <table class="table table-hover">
        <tr>
          <td><h3>Saldo en la cuenta:</h3></td>
          <td><h3 class="text-muted">$ <%= user.account.accountBalance %></h3></td>
        </tr>
        <tr>
          <td><h3>Saldo disponible:</h3></td>
          <td><h3 class="text-muted">$ <%= user.account.accountBalance %></h3></td>
        </tr>
        <tr>
          <td><h3>Saldo en el colchón:</h3></td>
          <td><h3 class="text-muted">$ <%= user.account.mattress.mattressBalance %></h3></td>
        </tr>
        <tr>
          <td><h3>Saldo en los bolsillos:</h3></td>
          <td>
            <h3 class="text-muted">$
              <% var sum = 0, pockets = user.account.pockets; %>
              <% for (var i = 0; i < pockets.length; i++) { %>
              <% sum += pockets[i].pocketBalance; } %>
              <%= sum %>
            </h3>
          </td>
        </tr>
        <tr>
          <td><h3>Saldo en las metas:</h3></td>
          <td>
            <h3 class="text-muted">$
              <% var sum = 0, pockets = user.account.goals; %>
              <% for (var i = 0; i < pockets.length; i++) { %>
              <% sum += pockets[i].currentBalance; } %>
              <%= sum %>
            </h3>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-6 shadow p-3 mb-5 bg-white rounded" align="center">
      <h2>Añadir Saldo</h2>
      <form class="row form-inline" action="/addMoney" method="POST">
        <div class="col-3"></div>
        <div class="input-group">
          <input type="number" class="form-control" value="" name="money" placeholder="Saldo" min="1" required>
          <input type="text" hidden name="userId" value="<%= user._id %>">
        </div>
        <button type="submit" class="btn btn-outline-success">Añadir</button>
      </form><br>
      <h2>Realizar transferencia</h2>
      <form class="row form-inline" action="/transfer" method="POST">
        <div class="col-1"></div>
        <div class="input-group">
          <input type="text" class="form-control" name="Destinatario" value="" min="1" max="<%= user.account.accountBalance %>" placeholder="Destinatario" required>
        </div>
        <div class="input-group">
          <input type="numeric" class="form-control" name="Cantidad" value="" placeholder="Cantidad" required>
        </div>
        <button type="submit" class="btn btn-outline-success" name="button">Transferir</button>
      </form>
    </div>
  </div>
</div>
<% include partials/_footer %>
