<% include partials/_head %>
<% include partials/_header-inside %>
<div class="container "align="center">
  <div class="row">
    <div class="col shadow p-3 mb-5 bg-white rounded">
      <h1> <%= pocket.name%> </h1>
    </div>
  </div>
  <!--
  <%# if(transferMessage.length>0){ %>
    <div class="alert alert-warning" align="center">
      <%# transferMessage %>
    </div>
  <%# } %>
  -->
  <div class="row">
    <div class="col-7 shadow p-3 mb-5 bg-white rounded">
      <h3>Dinero almacenado: $ <%= pocket.pocketBalance%></h3>
    </div>
    <div class="cgoalIdol-5 shadow p-3 mb-5 bg-white rounded" align="center">
      <form class="form form-inline " action="/addCurrencyGoal" method="POST">
        <div class="form-control-inline">
          <input type="number" class="form-control" value="" name="money" placeholder="Saldo" min="1" required>
          <button type="submit" class="btn btn-outline-success">Añadir</button>
          <input type="text" hidden name="idUser" value="<%= user._id %>">
          <input type="text" hidden name="pocketId" value="<%= pocket._id%>">
        </div>
      </form>
      <br>
      <form class="form" action="/deletePocket/<%= user.id%>/<%= pocket._id%>" method="POST" >
        <div class="form-control-inline">
          <button type="submit" class="btn btn-outline-danger">Eliminar Bolsillo</button>
        </div>
      </form>
    </div>
  </div>
</div>
